.clock{
    height: 400px;
    width: 220px;
    margin: 0 auto;
}
.clock .body-top{
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 400px 400px 0 0;
   background-color: #B28247;
}
.clock .body-bottom{
    position: relative;
    z-index: -1;
    height: 190px;
    margin: 0;
    padding: 0;
    border-radius: 0 0 20px 20px;
    background-color: #7F4F21;
}
.pendulum .pendulum-stick{
    height: 100px;
    width: 12px;
    margin: 0 auto;
    background-color: #C1C1C1;
}
.pendulum .pendulum-body{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: -2px;
    background-color: #313131;
}
.body-top .dial{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    position: relative;
    transform: translateY(30px);
    border-radius: 75px;
    background-color: #EFEFEF;
}
.dial .second-hand{
    width: 2px;
    height: 74px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    transform-origin: 50% 5px;
    background-color: #7F4F21;
}
.dial .minute-hand{
    width: 4px;
    height: 70px;
    border-radius: 20px;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 5px;
    background-color: #40220F;
}
.dial .hour-hand{
    width: 6px;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    z-index: 4;
    transform-origin: 50% 5px;
    background-color: black;
}
.dial ul{
    position: absolute;
    list-style: none;
}
.dial ul li{
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 15px;
}
.dial ul li:nth-child(1){
    transform: translate(93px,50px);
    -webkit-transform: translate(93px,50px);
    -moz-transform: translate(93px,50px);
}
.dial ul li:nth-child(2){
    transform: translate(28px,102px);
    -webkit-transform: translate(28px,102px);
    -moz-transform: translate(28px,102px);
}
.dial ul li:nth-child(3){
    transform: translate(-37px,22px);
    -webkit-transform: translate(-37px,22px);
    -moz-transform: translate(-37px,22px);
}
.dial ul li:nth-child(4){
    transform: translate(25px,-58px);
    -webkit-transform: translate(25px,-58px);
    -moz-transform: translate(25px,-58px);
}
@keyframes timehand {
    0%{
        transform: translate(70px,75px) rotate(180deg);
    }
    100%{
        transform: translate(70px,75px) rotate(539deg);
    }
}
@keyframes ticktock {
    0%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}
.dial .second-hand{
    animation: timehand 60s steps(60,end) infinite;
}
.dial .minute-hand{
    animation: timehand 3600s steps(3600,end) infinite;
}
.dial .hour-hand{
    animation: timehand 216000s steps(216000,end) infinite;
}
.body-bottom .pendulum{
    height: 140px;
    animation-duration: 1s;
    animation-name: ticktock;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running;
    transform-origin: 50% -70%;
}